<section class="choice">
    <div class="choice__wrapper">
      <div class="container">
          <div class="choice__inner">
              <h2 class="choise__inner__why">why choose us</h2>
              <p class="choose__inner__disc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores saepe recusandae repudiandae!</p>
          </div>
      </div>
    </div>
</section>
