<section class="content_menu">
    <div class="content_menu__wrapper">
      <div class="container">
          <div class="content_menu__inner">
              <div class="content_menu__list">
                <div class="content_menu__item">
                    <img class="content_menu__img>" alt="logo" src="images/8.png">
                    <h2 class="content_menu__name">unlimited options</h2>
                    <ul class="contem_menu__menu">
                        <li class="content_menu__item">branding</li>
                        <li class="content_menu__item">design & copywriting</li>
                        <li class="content_menu__item">concept development</li>
                        <li class="content_menu__item">user experience</li>
                    </ul>
                </div>
                <div class="content_menu__item">
                  <img class="content_menu__img>" alt="logo" src="images/shuffle.png">
                  <h2 class="content_menu__name">design & development</h2>
                  <ul class="contem_menu__menu">
                      <li class="content_menu__item">information archtecture</li>
                      <li class="content_menu__item">interface design</li>
                      <li class="content_menu__item">product design</li>
                      <li class="content_menu__item">integrated ad companiies</li>
                  </ul>
              </div>
              <div class="content_menu__item">
                  <img class="content_menu__img>" alt="logo" src="images/cart.png">
                  <h2 class="content_menu__name">e-commerce</h2>
                  <ul class="contem_menu__menu">
                      <li class="content_menu__item">prototyping</li>
                      <li class="content_menu__item">technical consulting</li>
                      <li class="content_menu__item">web applications</li>
                      <li class="content_menu__item">quality testing</li>
                  </ul>
              </div>
              <div class="content_menu__item">
                  <img class="content_menu__img>" alt="logo" src="images/equa.png">
                  <h2 class="content_menu__name">customizable design</h2>
                  <ul class="contem_menu__menu">
                      <li class="content_menu__item">information architecture</li>
                      <li class="content_menu__item">interface design</li>
                      <li class="content_menu__item">product design</li>
                      <li class="content_menu__item">integrated ad companies</li>
                  </ul>
              </div>
              </div>
              <div class="content_menu__img">
                  <img class="menu__img" alt="image" src="images/about_img3.png">
              </div>
        </div>
    </div>
</div>
</section>
        