<section class="dreamteam">
    <div class="dreamteam__wrapper">
      <div class="container">
          <div class="dreamteam__inner">
              <h1 class="dreamteam__name">the dream team</h1>
              <p class="dreamteam__disc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores pariatur dignissimos quia deserunt ducimus dolor rerum, debitis laboriosam repellendus.</p>
              <div class="dreamteam__gallery">
                  <img class="dream__team__member" alt="dreamteam" src="images/Dt1.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT2.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT3.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT4.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT5.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT6.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT7.png">
                  <img class="dream__team__member" alt="dreamteam" src="images/DT8.png">
              </div>
            </div>
        </div>
    </div>
</section>


        
              