<section class="feedback">
    <div class="feedback__wrapper">
      <div class="container">
          <div class="feedback__inner">
            <div class="feedback__poll">
                <h1 class="feedback__poll__guestion">you think we're cool? let's work together</h1>
                <button class="feedback__poll__get">get in touch</button>
            </div> 
            <div class="feedback__email">
                <h2 class="feedback__email__name">stay informed with our newsletter</h2>
                <p class="feedback__email__disc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum numquam minima laudantium commodi aliquid libero deserunt eum tempora eligendi.</p>
                <textarea class="feedback__email__input">your email</textarea>
                <button class="feedback__email__send">send</button>
            </div> 
          </div>  
      </div>  
    </div>
</section>
