<section class="footer">
    <div class="footer__wrapper">
      <div class="container">
          <div class="footer__inner">
              <div class="footer__nav">
                <ul class="footer__nav__menu">
                    <li class="footer__menu__item">home -</li>
                    <li class="footer__menu__item">about us -</li>
                    <li class="footer__menu__item">services -</li>
                    <li class="footer__menu__item">portfolio -</li>
                    <li class="footer__menu__item">blog -</li>
                    <li class="footer__menu__item">contact us</li>
                </ul>
              </div>
            <div class="footer__copyright">
                <p class="website__author">created by Dim-Tim 2020. all rights reserved</p>
            </div>
            <div class="footer__social">
                <img class="footer__social__img" alt="social" src="images/social.png">
            </div>