    <header class="header">
        <div class="header__wrapper">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo">
                        <h1 class="header__logo__name">
                            akad.
                        </h1>
                    </div>
                    <div class="header__menu">
                        <img class="header__logo__img" alt="logo" src="images/header_menu.png">
                    </div>
                </div>
            </div>
        </div>
    </header>