<section class="website_hist">
    <div class="website_hist__wrapper">
      <div class="container">
          <div class="website_hist__inner">
              <div class="website_hist__img">
                  <img class="hist__img " alt="logo" src="images/Layer_4.png">
              </div>
              <div class="website_hist__discription">
                  <h2 class="hist__discription__name">history of agency</h2>
                  <p class="hist__discription__content">
                    Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.
                  </p>
                  <button class="hist__discription__button">read more</button>
              </div>
          </div>
        </div>
    </div>
</section>