<section class="website_disc">
    <div class="website_disc__wrapper">
      <div class="container">
        <div class="website_disc__inner">
          <h2 class="website_disc__name1>">we're</h2>
          <h1 class="website_disc__name2>">creative agency</h1>
          <p class="website_disc__discription"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis porro provident cupiditate soluta at.</p>
         </div>
        </div>
    </div>
  </section>