<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('common/head.ejs') %> 
</head>
<body>
    <%- include('./common/header.ejs')%> 
    <main>
        <div class="background">
         <img class="header__image" src="images/Layer_1.png">-->
        </div>
        <%- include('./common/website_disc.ejs')%> 
        <%- include('./common/website_hist.ejs')%> 
        <%- include ./common/choose.ejs %> 
        <%- include ./common/content_menu.ejs %> 
        <%- include ./common/dreamteam.ejs %> 
        <%- include ./common/feedback.ejs %>
    </main>
    <%- include ./common/footer.ejs %> 
</body>
</html>
