
@import "variables";
.header__logo__name {
    color: $h_color;
    font-family: $h_ff;
    text-transform: $h_tt;
    font-size: $h3_fs;
}
.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2px;
}