@import "variables";
.website_hist__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.website_hist__discription {
    display: flex;
    flex-direction: column;
    margin-left: 127px;
    align-items: flex-start;
}
.hist__discription__name {
    color: $h_color;
    font-family: $h_ff;
    text-transform: $h_tt;
    font-size: $h2_fs;
    margin-top: 30px;
}
.hist__discription__content {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}