@import "variables";
.website_disc__inner {
    background-image: url(images/Layer_1.png);
    position: absolute;
}
.website_disc__name1 {
    color: $h_color;
    font-family: $h_ff;
    text-transform: $h_tt;
    font-size: $h3_fs;
    margin-top: 225px;
    margin: auto;
}
.website_disc__name2 {
    color: $h_color;
    font-family: $h_ff;
    text-transform: $h_tt;
    font-size: $h1_fs;
    border: 10px solid #60606e;
    padding: 45px 35px;
}
.website_disc__discription {
    color: $h_color;
    font-family: $h_ff;
    font-size: 16px;
    margin-top: 30px;
}
.background {
    /*background-image: url(../images/Layer_1.png);*/
    background-size: 100%;
}
.header__image {
    width: 100%;
    opacity: 0.5;
    position: absolute;
}